﻿@model IEnumerable<BikesWeb.ProductCategory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        @foreach (var item in Model)
        {
            <td>@item.Name</td>
        }
    </tr>
</table>

@{ 
    var today = DateTime.Now;
    var message = "Hello from the razor engine";
}
<p>Message: @message on @today</p>