﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="pageB.aspx.cs" Inherits="pageB" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
        <asp:Label ID="lblFullName" runat="server"></asp:Label><br />
        <asp:Label ID="lblGender" runat="server"></asp:Label><br />
        <asp:Label ID="lblBirthDate" runat="server"></asp:Label><br />
        <asp:Label ID="lblCivilStatus" runat="server"></asp:Label>
    </form>
</body>
</html>
