﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Movie List - Movie App";
}

<h2>My movie list</h2>

<p>Hello from our View Template!</p>